body{
    font-family: 'Josefin Slab', serif;
    font-family: 'Special Elite', cursive; 
    text-align: center;
}
#myForm {
 width: auto;
 text-align: left right;
   
}
h1{
    font-size: 100;
    padding: 20px;
    margin: auto;
    border-radius: 1px;
} 
.button{
    width: auto;
    padding: 20px;
}